<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="PayRunIO.Core.Enums" version="23.24.1.107" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK" version="23.24.1.107" targetFramework="net452" />
  <package id="PayRunIO.Models" version="23.24.1.107" targetFramework="net452" />
  <package id="PayRunIO.OAuth1" version="23.24.1.107" targetFramework="net452" />
  <package id="PayRunIO.Utilities" version="23.24.1.107" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>