<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="PayRunIO.Core.Enums" version="17.18.6.39" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK" version="17.18.6.39" targetFramework="net452" />
  <package id="PayRunIO.Models" version="17.18.6.39" targetFramework="net452" />
  <package id="PayRunIO.OAuth1" version="17.18.6.39" targetFramework="net452" />
  <package id="Polly" version="5.3.1" targetFramework="net452" />
</packages>