<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="PayRunIO.Core.Enums" version="18.19.1.513" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK" version="18.19.1.513" targetFramework="net452" />
  <package id="PayRunIO.Models" version="18.19.1.513" targetFramework="net452" />
  <package id="PayRunIO.OAuth1" version="18.19.1.513" targetFramework="net452" />
</packages>